<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "base_head" . }}
        <link rel="stylesheet" href="/public/styles/class_board.css">
        <script src="/public/scripts/class_board.js"></script>
    </head>

    <header>
        {{ template "base_header" . }}
    </header>

    <body>
        <h2 class="back-arrow" id="back-arrow">←</h2>
        <div class="threads">
            <ul class="thread-list" id="normal-thread-list">
                {{ range .ThreadList }}
                <li class="thread">
                    <div class="title-date">
                        <h4 class="title" data-id="{{ .ID }}">{{ .Title }}</h4>
                        <h5 class="date">{{ .Date }}</h5>
                    </div>
                    <div class="poster">
                        <img src="https://ih1.redbubble.net/image.1893273316.6237/tst,small,845x845-pad,1000x1000,f8f8f8.jpg" style="width: 60px; height: 60px;">
                        <h6 class="name">{{ .AuthorID }}</h6>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="comment-area">
            <textarea class="comment-title-box" id="comment-title-box" rows="1" placeholder="Write your title here..."></textarea>
            <textarea class="comment-box" id="comment-box" rows="5" placeholder="Write your comment here..."></textarea>
            <br>
            <button class="comment-btn" id="post-btn">Post</button>
        </div>
    </body>
</html>