<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "base_head" . }}
    <meta http-equiv="refresh" content="10; url=/" />
  </head>
  <header>
    {{ template "base_header" . }}
  </header>
  <body>
    <h3 style="margin-left: 16px; color: black">
      Error: "{{ .ErrorMessage }}"
    </h3>
    <h4 style="margin-left: 16px; color: black">
      You will be redirected to the home page in 10 seconds...
    </h4>
  </body>
</html>
