<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/logo.jpg">
    <link rel="stylesheet" href="/public/styles/discussion-board.css">
    <script src="/public/functions.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cookie Jar Discussion Board</title>
</head>
<body>
    <div class="wrapper">
        <nav class='navbar'>
            <img src="/public/assets/logo.jpg" alt='Cookie Jar LMS Logo' id='logo'></img>
            <a href='/' class='navchild'>Home</a>
            <a href='/courses' class='navchild'>Courses</a>
            <a href='/assignments' class='navchild'>Assignments</a>
            <a href='/classroom/{{ .classroom_id }}/discussions' class='navchild'>Discussion Board</a>
            <a href='/profile' class='navchild'>Profile</a>
            <a href='/support' class='navchild'>Support</a>
            <a href="/logout" id="logout">Logout</a>
        </nav>
        <div class="discussion-wrapper">
            <div class="discussion-post">   
                <div class="post-controls">
                    <button>Like</button>
                    <button>Dislike</button>
                    <button>Comment</button>
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <h2>Test Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion PostTest Header of Discussion Post</h2>
                    </div>
                    <div class="post-body">
                        <p>Test Body of Discussion Post</p>
                    </div>
                </div>
            </div>
        </div>
        <aside class="discussion-controls">
            <a href="/create-thread" id="c-thread">Create Thread</a>
        </aside>
    </div>
</body>
</html>