<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/logo.jpg">
    <link rel="stylesheet" href="/public/styles/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/functions.js"></script>
    <title>The Cookie Jar LMS</title>
</head>
<body>
    <div class="wrapper">
        <nav class='navbar'>
            <img src="/public/assets/logo.jpg" alt='Cookie Jar LMS Logo' id='logo'></img>
            <a href='/' class='navchild' id="home_button">Home</a>
            <a href='/classrooms' class='navchild'>Courses</a>
            <a href='/assignments' class='navchild' id="assignments_nav">Assignments</a>
            <a href='/classrooms/discussions' class='navchild'>Discussion Board</a>
            <a href='/profile' class='navchild'>Profile</a>
            <a href='/support' class='navchild'>Support</a>
            <!-- <a href="/logout" id="logout">Logout</a> -->
            <form action="/logout" method="post">
                <button type="submit" id="logout">
                    Logout
                </button>
            </form>
            {{ if .username }}
                <h4 style="color: aqua;" id="if_logged_in"> Logged in as: {{ .username }}</h4>
            {{ end }}
        </nav>
        <div class="account_management">
            <div class="register">
                <h2>Register:</h2>
                <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                    <label for="username">Username:</label><br />
                    <input type="text" id="username" name="username" required /><br />

                    <label for="password">Password:</label><br />
                    <input type="password" id="password" name="password" required /><br />

                    <label for="password_confirm">Password:</label><br />
                    <input
                        type="password"
                        id="password_confirm"
                        name="password_confirm"
                        required
                    /><br />
                    <button type="submit">Register!</button>
                </form>
            </div>
            <div class="login">
                <h2>Login:</h2>
                <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                    <label class="form_label">Username:</label>
                    <input class="form_label" type="text" name="username" placeholder="Username"/>
                    <label class="form_label">Password:</label>
                    <input class="form_label" type="password" name="password" placeholder="Password" />
                    <button type="submit">Login!</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>