<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/public.css" />
    <title>Register</title>
  </head>

  <body>
    <h2>Welcome to the_cookie_jar, register here:</h2>

    {{ if .error }}
    <h3 style="color: rgb(177, 13, 13)">{{ .error }}</h3>
    {{ end }}

    <form action="/register" method="post">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />

      <button type="submit">Register!</button>
    </form>
  </body>
</html>
