.profile-picture-form {
    margin: 12px;
    background-color: rgb(231, 230, 154);
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 14px;
}
.profile-picture-form h3 {
    margin-top: 2px;
}
.profile-picture-form .upload-form {
    display: flex;
}
.profile-picture-form .upload-form .uploaded-image  {
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    margin-right: 12px;
}
.profile-picture-form .upload-form .upload-btn  {
    margin-top: auto;
}
.profile-picture-form h5 {
    margin-top: 8px;
    margin-bottom: 0px;
}
